<div id="main" class="container">
  <% if @games.size > 0 %>
    <p>List of Games</p>
    <% @games.each do |game| %>
      <li><%= link_to game.created_at, game %></li>
    <% end %>
  <% end %>

  <button onclick='createGame()'>New Game</button>
  <p></p>
</div>

<script>

  var createGame = function(){
    $.ajax({
      method: "POST",
      url: "http://localhost:3000/api/v1/games",
      data: {
        rows: 10,
        columns: 10,
        mines: 20
      }
    })
    .done(function( response ) {
      createBoard(response.rows, response.columns, response.mines);
    });
  }

  var createBoard = function(rows, columns, mines){
    var cellWidth = 40;
    var gridWith = cellWidth * rows;
    var gridHeight = cellWidth * columns;
    var padding = 10;
    var canvas = document.createElement('canvas');
    canvas.width = gridWith + padding * 2;
    canvas.height = gridHeight + padding * 2;
    var context = canvas.getContext("2d");
    var container = document.getElementById('main');
    container.appendChild(canvas);

    for (var x = 0; x <= gridWith; x += 40) {
        context.moveTo(0.5 + x + padding, padding);
        context.lineTo(0.5 + x + padding, gridHeight + padding);
    }

    for (var x = 0; x <= gridHeight; x += 40) {
        context.moveTo(padding, 0.5 + x + padding);
        context.lineTo(gridWith + padding, 0.5 + x + padding);
    }

    context.strokeStyle = "black";
    context.stroke();

    context.font = "24px Arial";
    context.textAlign = "center";

    for (var y = 0; y < columns; y ++) {
      for (var x = 0; x < rows; x ++) {
        context.fillStyle = "#ededed";
        context.fillRect(40 * x + padding + 1, 40 * y + padding + 1, cellWidth - 1, cellWidth - 1);
      }
    }
    canvas.removeAttribute("hidden");
  }
</script>
